@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Geist:wght@100;300;400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Geist", "Inter", sans-serif;
  --font-mono: "Inter", monospace;
  --color-brand-cyan: #00f2ff;
  --color-brand-slate: #222222;
}

body {
  background-color: #050505;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Custom Scrollbar for Mobile Lists */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}